.ahome_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    float:left;
    margin-right: 5px;
}
.ahome{
    display: flex;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}
.ahome_container >p{
    margin-top:100px;
    color:Black;
    font-weight:bolder;
    font-size:35px;
}