.header{
    height:60px;
    display:flex;
    align-items:center;
    background-color:#58181F;
    position:sticky;
    top:0;
    z-index:100;
}
.header_logo{
    width:60px;
    object-fit:contain;
    margin:0 10px;
    margin-top:0px;
}
.header_search{
    display:flex;
    flex:1;
    align-items:center;
    border-radius:24px;
    margin-left: 150px;
}
.header_searchInput{
    height:12px;
    padding:10px;
    border:none;
    width:70%;
}
.header_searchIcon{
    padding:5px;
    height:22px!important;
    background-color:#FFE5B4;
    width: fit-content;
}
.header_homeIcon{
    padding:5px;
    height:25px!important;
    background-color:#FFE5B4;
    width:60px;
    object-fit:contain;
    margin:0 10px;
    margin-top:0px;
}
.header_optionLineOne{
  font-size:13px;
}
.header_optionLineTwo{
    font-size:17px;
    font-weight:800;
  }
  .header_optionBasket{
      display: flex;
      align-items: center;
      color:white;
      margin-left: 20px;
      margin-right:10px;
      margin-top:10px;
      
  }
  .header_basketCount{
    margin-left:10px;
    margin-right:10px;
    font-size:20px;
}
.header_nav{
    display:flex;
    justify-content:space-evenly;
}
.header_option{
    display:flex;
    flex-direction:column;
    margin-left:15px;
    margin-right:15px;
    color:white;
}
.header_category{
    display:flex;
    flex-direction:column;
    margin-left:20px;
    margin-right:30px;
    color:white;
    font-size:23px;
    font-weight:800;

}