.login{
    display:flex;
    flex-direction:column;
    align-items: center;
    height:100px;
    margin-top:10px;
   
}
.login_img{
    margin-top:20px;
    margin-bottom:20px;
    object-fit:contain;
    width:100px;
    margin-right:auto;
    margin-left:auto;
}
.login_container > button{
    background: #58181F;
    border-radius: 2px;
    width:100%;
    height:30px;
    align-items: center;
    margin-top:10px;
    border-color:#58181F #58181F #58181F;
    color:White;
}
.login_container{
    height:fit-content;
    width:300px;
    flex-direction: column;
    border-radius:5px;
    border:1px solid black;
    background-color: white;
    padding:20px;
}
.login_container> form > button{
    background: #58181F;
    border-radius: 2px;
    width:100%;
    height:30px;
    margin-top:10px;
    border-color:#58181F #58181F #58181F;
    color:White;
    
}
.login_container>h1{
   font-weight: 500;
   margin-bottom:20px;
}
.login_container>form>h5{
    margin-bottom:5px;
 }
 .login_container>form>input{
    background-color: white;
    height:30px;
    width:98%;
    margin-bottom:10px;
 }
 .login_container>p{
     margin-top: 15px;
     font-size:12px;
 }
.innerbutton{
    background: #58181F;
    border-radius: 2px;
    width:100%;
    height:30px;
    margin-top:10px;
    border-color:#58181F #58181F #58181F;
    color:White;
    
}
.login_homeIcon{
    padding:5px;
    height:25px!important;
    background-color:#FFE5B4;
    margin-top:20px;
    margin-bottom:20px;
    object-fit:contain;
    width:100px;
    margin-right:auto;
    margin-left:auto;
}