.product{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content :flex-end;
    margin: 10px;
    padding:20px;
    width:100%;
    max-height:400px;
    min-width:100px;
    background: White;
    z-index:1;
}
.product_img{
    max-height:200px;
    width:100%;
    object-fit:contain;
    margin-bottom:15px;

}
.product_info{
    text-align:left;
    height:100px;
    margin-bottom:15px;
}
.product_price{
    margin-top:5px;
}
.product > button{
    background: #58181F;
    border:1px solid;
    margin-top:10px;
    width:100%;
    height:30px;
    border-color:#58181F #58181F #58181F;
    color:White;
}
.product_rating{
    display:flex;
}
.addToCartBtn{
    background-color: #6e1230;
    border: 1px solid transparent;
    color: white;
    padding:8px;
    border-radius: 8px;
}