.register{
    display:flex;
    flex-direction:column;
    align-items: center;
    height:100px;
    margin-top:10px;
   
}

.register_container > button{
    background: #6e1230;
    border-radius: 2px;
    width:100%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-top:10px;
    border-color:#6e1230 #6e1230 #6e1230;
    color:White;
    border-radius:8px;
}
.register_container{
    height:fit-content;
    flex-direction: column;
    border-radius:5px;
    border:1px solid black;
    background-color: white;
    padding:50px;
    font-size: 19px;
    /* width: 50%; */
}
input[type="radio"]{
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 10px;
    margin:0 5px;
    margin-left: 10px;
    margin-block-start: 10px;
    margin: 7px;
  }
  .register_container > form >select{
    outline: 0;
    background: rgb(249, 250, 249);
    width: 50%;
    height: 50%;
    color: black;
    cursor: pointer;
    border:1px solid black;
    margin-bottom: 10px;
    border-radius:3px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    position: relative;
                display: block;
                width: 15em;
                height: 2em;
                line-height: 3;
                border-radius: .25em;
                padding-bottom:10px;
}
.register_container> form > button{
    background: #6e1230;
    border-radius: 2px;
    width:100%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    margin-top:10px;
    border-color:#6e1230 #6e1230 #6e1230;
    color:White;
    border-radius:8px;
}
.register_input{
    height:10px;
}
.register_container>h1{
   font-weight: 500;
   margin-bottom:20px;
}
.register_container>form>h5{
    margin-bottom:5px;
 }
 .register_container>form>input{
    background-color: white;
    height:30px;
    width:98%;
    margin-bottom:10px;
 }
 .register_container>p{
     margin-top: 15px;
     font-size:12px;
 }
 .innerbutton{
    background: #6e1230;
    border-radius: 2px;
    width:100%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    margin-top:10px;
    border-color:#6e1230 #6e1230 #6e1230;
    color:White;
    height:38px;
    border-radius:8px;
}
.register_homeIcon{
    padding:5px;
    height:25px!important;
    background-color:#FFE5B4;
    margin-top:20px;
    margin-bottom:20px;
    object-fit:contain;
    width:100px;
    margin-right:auto;
    margin-left:auto;
}