.subtotal{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width:300px;
    height: 100px;
    padding:20px;
    background-color: #f3f3f3;
    border:1px solid #dddddd;
    border-radius:3px;
}
.subtotal_gift{
    display:flex;
    align-items: center;
}
.subtotal_gift > input{
   margin-right: 5px;
}
.subtotal > button{
    background: #58181F;
    border-radius: 2px;
    width:100%;
    height:30px;
    margin-top:10px;
    border-color:#58181F #58181F #58181F;
    color:White;
}